<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Becca - The cute blog next door</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="/media/css/becca.css" type="text/css" media="screen" />
</head>
<body>
<div class="page">
				
<div id="header">
	<h1><a href="/">Becca</a></h1>
	<h2>The cute blog next door.</h2>
</div>

<div id="sidebar">
{% block sidebar %}

{% endblock %}
</div>
				
<div id="content">
{% block content %}

{% endblock %}
</div>

<div id="footer">
	<p>Open Source under the <a href="http://www.opensource.org/licenses/bsd-license.php">BSD License</a>.</p>
</div>
			
</div><!-- End Page -->
</body>
</html> 